body {
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#login-body {
  width: 100%;
  height: 100%;
  background-color: #deb522;
}

/* NAVIGATION */

.imdb {
  font-size: 1.2em;
  padding: 0.1em;
  margin: 0;
  color: black;
  background-color: rgb(222, 181, 34);
  border-radius: 0.2em;
  text-decoration: none;
  font-weight: bold;
}

#main-nav {
  background-color: #000;
  overflow: hidden;
  height: 3.5em;
}

#nav-cont {
  padding: 0;
  float: left;
  width: 100%;
  position: relative;
}

#main-nav ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#main-nav ul li {
  font-size: 1.2em;
  margin: auto;
  margin-right: 1em;
  margin-top: 0.6em;
  position: relative;
  right: 50%;
  display: inline-block;
  color: #fff;
}

.form-control {
  width: 100%;
}

#menu-items {
  padding: 0;
  
}

#menu {
  width: 100%;
  height: auto;
  background-color: #128bb5;
}

.login {
  text-align: center;
  padding: 0;
}

.login a {
  color: white;
  text-decoration: none;
}


#search {
  padding: 0;
  margin: 1em;
  font-size: 2em;
  background-color: blue;
}

/* Dropdown Content (Hidden by Default) */
#dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#dropdown-content li {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropbtn:hover .dropdown-content {
  display: block;
}

/* .show {
  display:block;
} */
  
/* END NAVIGATION */


/* LOGIN PAGE */

#content-2-wide {
  margin-top: 1%;
  margin-left: 3%;
  margin-right: 3%;
  background-color: white;
  padding: 1em;
  border-radius: 2em;
  align-items: center;
}

h1 {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  padding-bottom: 2%;
}

h2 {
  font-weight: bold;
  font-size: 0.75em;
}

#signin-perks {
  width: 100%;
  padding-right: 2%;
}

#signin-options {
  width: 100%;
  padding-left: 2%;
}

ul {
  list-style-type: none;
  padding-left: 0%;
  padding-right: 0%;
}

li, .list-group {
  /* background-color: rgb(18, 139, 181); */
  /* width: 90%; */
  /* margin: auto; */
  text-align: center;
  padding: 0.75em;
}

#perks li {
  width: 90%;
  padding: 0.4em;
  margin: auto;
  display: inline-flex;
  border-bottom: 0.1em solid rgb(181, 181, 181);
}

#perks li:last-child {
  border: none;
}

#perks li h2 {
  width: 50%;
  padding-right: 2%;
  margin-top: auto;
  margin-bottom: auto;
}

#perks li p {
  width: 50%;
  padding-left: 2%;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 0.75em;
}

#vl {
  border-top: 0.2em solid rgb(181, 181, 181);
  border-left: 0em;
  width: 100%;
  position: relative;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0;
}

.hl {
  border-left: 0.2em solid rgb(181, 181, 181);
  width: 70%;
  position: absolute;
  margin: auto;
  padding: 0;
}

#options li, .list-group {
  border-radius: 0.5em;
  border-color: rgb(181, 181, 181);
  border-style: solid;
  border-width: 0.1em;
  margin: auto;
  margin-bottom: 0.5em;
  font-size: 0.75em;
  width: 70%;
}

#divider-text, #signin-notice {
  text-align: center;
}

#signin-notice {
  font-size: 0.2em;
}

.hovering {
  text-decoration: none;
  color: #000;
}

#footer {
  margin: 2% 3% 2% 3%;
  background-color: #000;
  border-radius: 2em;
  padding: 0.5em;
}

#footer ul {
  display: inline-block;
  width: 19%;
  align-items: center;
  text-align: center;
}

#footer ul li a {
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 0.75em;
}

#footer p {
  color: #fff;
  text-align: center;
  font-size: 0.2em;
}

/* END LOGIN PAGE */

/* CALENDAR PAGE */
.container {
  display: flex;
}

.wrapper {
  padding: 15%;
  height: auto;
}

#cal-h1 {
  margin-top: 2%;
}

.filter-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 10px;
}

.filter-box {
  width: 100%;
  position: relative;
  margin-bottom: 7%;
  margin-left: 0%;
  margin-right: 0%;
}

.filter-btn {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  width: 90%;
  padding: 1em;
  border: 3px solid rgb(222, 181, 34);
  cursor: pointer;
  text-align: left;
  border-radius: 0.7em;
  padding-left: 5%;
}

.dropdown-content {
  font-family: Arial, Helvetica, sans-serif;
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1;
}

.dropdown-option {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75em;
  padding: 10px;
  cursor: pointer;
}

/* Styles for movie content */
#movies {
  width: 100%;
  margin: auto;
  padding: 2%;
  margin-bottom: 6%;
}

.movie-panel {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 2%;
  padding: 0%;
  border: 1px solid rgb(219, 219, 219);
  background-color:rgb(219, 219, 219);
  border-radius: 0 0 0.7em 0.7em;
  display: flex; 
  flex-wrap: wrap;
}

.movie-poster {
  width: 100%;
  height: auto;
  margin: auto;
  margin-bottom: 2%;
}
.movie-info {
  width: auto;
  padding: 2%;
  font-size: 0.75em;
}

.movie-info > strong {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-right: 5px;
}

.movie-meta {
  display: flex;
}
.movie-meta span {
  margin-right: 5px;
  display:block;
}

.movie-meta span strong {
  font-weight: bold;
}

.movie-meta span:after {
  content: ": "; 
}
/* Styles for footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #0c0b00;
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.footer button {
  font-family: Arial, Helvetica, sans-serif;
  color:#fcf7f7;
  padding: 0.5% 0.75%;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 0.5em;
  background-color: #deb522;
  cursor: pointer;
}

.footer span {
  margin: 0 5px;
  color: #000;
}

.filter-sidebar {
  width: 20%;
  height: 100%;
  border-right: 3px solid rgb(222, 181, 34);
  padding-right: 2%;
}

.index-container {
  display: flex;
  padding: 0%;
}
/* END CALENDAR PAGE */




/* INDEX PAGE */

#main-page {
  display: flex;
}

/*Styles for What's On TV Subheader*/
/* Add border around "What's on TV" section */
.sub_header {
  padding: 2%;
  height: auto;
  margin-bottom: 2%;
  position: relative;
}

#heading {
  padding: 0;
  font-size: 2em;
}

.whats-on-tv-header{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
}

#country {
  width: 20%;
}
/* Styles for footer */
.footer-link {
  margin-right: auto; /* Push other items to the left */
  margin-left: 10px; /* Add some spacing */
  color: #ffffff; /* Link color */
  text-decoration: none; /* Remove underline */
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 2.75em;
  }
  
  h2 {
    font-size: 1.5em;
  }

  #content-2-wide {
    display: inline-flex;
  }

  #vl {
    border-left: 0.2em solid rgb(181, 181, 181);
    border-top: 0em;
    height: 60%;
    position: absolute;
    left: 50%;
    right: 50%;
  }

  #options li, .list-group {
    font-size: 1.2em;
  }

  #signin-notice, #footer p {
    font-size: small;
  }

  #perks li p, #footer ul li a, .movie-info, .filter-btn, .dropdown-option {
    font-size: 1em;
  }
  .dropdown-option:hover, .footer button:hover, .login a:hover, .dropbtn:hover, .hovering:hover, #footer ul li a:hover, .filter-btn:hover {
    color: rgb(18, 139, 181);
  }

  .movie-poster {
    height: 100%;
    width: auto;
    margin: auto;
    margin-right: 2%;
  }

  .movie-panel {
    flex-wrap: nowrap;
    border-radius: 0 0.7em 0.7em 0;
  }
}

  